<!DOCTYPE html>
<html>

<head>

	
</head>

<body>
<div class="card">
  <div class="card-header">
    <h1>Voici le potin n°: <%= @id %> </h1>
  </div>
  <div class="card-body">	
    <h3>Titre : <%= @title %></h3>
    <h5>Auteur : <%= @author %> <br/> 
    Contenu du gossip : <%= @content %> <br/> 
    Tu veux cheker la page de l'auteur de ce potin ?    <a class="text-white btn btn-info" href="/user/<%= @user_id %>" role="button" aria-pressed="true">clique ici</a>
  </div>
</div>
</body>

</html>